.checklist-manager-section {
    width: 100vw;
    height: calc(100vh - 120px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .manager-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        width: 50vw;

        .main-title {
            font-size: 21px;
            font-family: "DinPro Medium", sans-serif;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        .select-group {
            display: flex;
            gap: 20px;
            width: 100%;

            .select-form {
                width: 100%;
                display: flex;
                gap: 10px;

                label {
                    font-size: 12px;
                    margin-left: 20px;
                }

                .form-select-custom {
                    height: 45px;
                }

                > div {
                    height: 100%;
                    width: 100%;

                    > div {
                        height: 100%;
                    }

                    .select-items {
                        border-radius: 10px;
                    }
                    .select-selected {
                        border-radius: 23px;
                    }
                    .select-city {
                        text-align: right;
                    }
                }
            }
        }

        .list-group {
            width: 100%;

            .edit-form {
                width: 100%;
                display: flex;
                flex-direction: column;

                .card-custom {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .card-header-custom {
                        padding-left: 30px;
                        padding-right: 30px;
                        cursor: pointer;
                        height: 70px;
                        align-items: center;
                        display: flex;
                        background-color: rgba(255,255,255,0.14);
                        outline: none;
                    }

                    .card-body-section {
                        background-color: rgba(255,255,255,0.06);
                        padding-bottom: 30px;
                        .card-body-custom {
                            padding: 20px 30px;
                            outline: none;
                            min-height: 70px;

                            div {
                                outline: none;
                            }

                            .custom-panel-header {
                                font-family: "DinPro Medium", serif;
                                font-size: 18px;
                            }
                        }
                        .outline {
                            outline: 1px solid white;
                        }
                    }

                    .outline {
                        outline: 1px solid white;
                    }
                }
            }
        }
    }
}

.editor-panel {
    position: fixed;
    right: 0;
    bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 250px;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    // max-height: 500px;
    max-height: 500px;
    overflow-y: auto;

    .editor-but {
        width: 120px;
        border-radius: 10px;
    }

    .focused {
        background-color: #003366;
    }
}

.editor-panel.show {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media only screen and (max-width: 1080px) {
    .checklist-manager-section {
        .manager-body {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .checklist-manager-section {
        .manager-body {
            width: 100%;
        }
    }
}
