.mail-manager-section {
    width: 100vw;
    height: calc(100vh - 120px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .manager-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        width: 50vw;

        .main-title {
            font-size: 21px;
            font-family: "DinPro Medium", sans-serif;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        .content-edit-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            .content-detail {

                .title {
                    font-size: 24px;
                    font-family: "Montserrat Medium", sans-serif;
                    text-align: center;
                }

                .sub-title {
                    font-size: 28px;
                    font-family: "Montserrat Medium", sans-serif;
                }

                .description {
                    font-size: 16px;
                    font-family: "Montserrat Regular", sans-serif;
                    line-height: 30px;
                }

                .editable-content {
                    outline: none;
                    border-radius: 10px;
                    padding: 5px 10px;
                }

                .editable-focus {
                    outline: 2px solid #266ea5;
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .mail-manager-section {
        .manager-body {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .mail-manager-section {
        .manager-body {
            width: 100%;
        }
    }
}
